section{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 12px;
    background-color: #f0f0f0;
}
.formulario-iniciosesion{
  padding-top: 45px;
  padding-bottom: 60px;
}
.formulario-crearcuenta{
  padding-top: 45px;
  padding-bottom: 60px;
}
.formulario-iniciosesion h1{
text-align: center;
padding-bottom: 12px;
}
.formulario-crearcuenta h1{
  text-align: center;
  padding-bottom: 12px;
  }
.formulario-iniciosesion a {
  display: block;
  text-align: center; /* Añade esta propiedad para alinear el enlace al centro */
  margin-top: 20px;
  color: #555;
}
.formulario-crearcuenta a {
  display: block;
  text-align: center; /* Añade esta propiedad para alinear el enlace al centro */
  margin-top: 20px;
  color: #555;
}
/* Estilos para el formulario */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 320px;
}

/* Estilos para los campos de entrada */
input[type=email], input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

/* Estilos para el botón de envío */
input[type=submit] {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
}

/* Estilos para el botón de envío al pasar el ratón por encima */
input[type=submit]:hover {
  background-color: #0372e9;
}
